.container{
    background-color: aqua;
}

.contenedorGral{
    background-color: blueviolet;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.columna{
    width: 12rem;
}