.container{
    display: inline-block;
}

.paginado{
    background-color: #f0f0f010;
}


  .button{
    border-radius: 0.4rem;
    background: var(--primary, gray) ;  
    
    width: 2.5rem;
    height: 2.1rem;
    flex-shrink: 0;
    border-color: white;
    
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: bold;
  }
  
  
  .button:hover {
    background-color:rgba(128, 128, 128, 0.466);
  }
  
  .button:active {
    position:relative;
      top:1px;
  }
  
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  .titulo{
    font-size: larger;
    font-weight: bold;
    /* font-style: bold; */
  }